.movie-com {
  text-align: center;

}

h1 {
  color: brown;
}

.btn {
  padding: 10px 24px;
  ;
  background-color: blueviolet;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.movie-search,
.result {
  text-align: center;
  margin-top: 30px;

}


.rawdata>span {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 150px;

}
